@element: member-card;

@{element} {
  & {
    position: relative;
    display: flex;
    padding: 10px 0 10px 10px;
    box-sizing: border-box;
    // background: #eef7f9;
    // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    overflow: hidden;
    border: 1px solid #e5e5e5;
    border-top: 0 solid #e5e5e5;
  }
  & .user-details > div:not(:last-child){
    margin-bottom: 16px;
  }
}

.@{element}-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 4px 0;
  max-height: 122px;
  flex-basis: 0;
}

.@{element}-item > eon-variable {
  font-weight: bold;
  margin-bottom: 4px;
}

.@{element}-item > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.@{element}-item-main {
  align-items: center;
  // flex: none;
}
.@{element}-item-main:not(:first-child){
  // margin-left: 10px;
}
.@{element}-item-main > div:not(:last-child){
  margin-bottom: 0;
}

.@{element}-item-main > div {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}


.@{element}-spacer {
  height: 72px;
  margin: auto 0 auto 0;
  display: flex;
  width: 3px;
  // TEMP - move to theme
  background-color: #f7f5f5;
}

.@{element}-icon {
  width: 50px;
  font-size: 18px !important;
  // TEMP - move to them
  color: #4285f4;
  position: relative;
}

.@{element}-icon.vicon-contact-mail {
  color: #fbbc05;
}
.@{element}-edit-clickable {
  position: absolute;
  height: calc(100% + 20px);
  width: calc(100% + 20px);
  cursor: pointer;
}

@media (max-width: 800px) {
  .@{element}-edit {
    flex-grow: 1;
    width: auto;
  }
}
@media (max-width: 500px) {
  @{element} {
    font-size: 14px;
  }
  .@{element}-edit {
    font-size: 18px !important;
  }
  .@{element}-item-main {
    padding-left: 0;
  }
}