@element: dealer-view;

@{element} {
  & {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }
  & > * {
    margin-top: 10px;
  }
}

.@{element}-title {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #88dbd4;
  padding: 12px 0 12px 4px;
  display: flex;
}