home-view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0 !important;
}

home-view .tab-selector {
  position: absolute;
}

/* HOME */
#home .home-main {
  justify-content: flex-start;
  width: 100%;
  padding: 0 0 20px;
}
#home .place-holder {
  padding: 15px 10px !important;
}

home-view #home .title-row {
  display: none !important;
}

.tasks-home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
}
/* Tasks Resume header */
.home-resume {
  display: flex;
  align-items: center;
  height: auto;
  width: 500px;
  padding: 10px 0;
  box-sizing: border-box;
  /* TODO Use theme variables */
  font-size: 18px;
}
.task-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
  height: 100%;
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  /* border-left: 4px solid transparent; */
}
.task-stat.active .task-stat-tag{
  text-decoration: underline;
}
.task-stat-pending {
  padding: 0 8px;
}
.task-stat-wip .task-stat-tag {
  padding: 0 0 0 5px;
}
.task-stat-tag {
  color:#c1c1c1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.task-stat-pending.active .task-stat-tag {
  color:#039be5;
}
.task-stat-wip.active .task-stat-tag {
  color:#33b679;
}


.task-stat > div:not(:first-child) {
  margin: 0;
}
.task-stat-value {
  display: flex;
  align-items: center;
  height: 40px;
}
.task-stat-value > i {
  font-size: 24px;
}
.task-stat-value > .ticon-wip {
  padding-bottom: 10px;
  font-size: 30px;
}
.task-stat-value > span {
  font-size: 20px;
  margin-left: 7px;
}

/* Tasks status progress bar */
.home-progress {
  display: flex;
  align-items: center;
  height: 10px;
  width: 100%;
  margin: 10px 0;
  padding: 0 10px 0 0;
  box-sizing: border-box;
}

.progress-bar {
  height: 100%;
  position: relative;
  box-sizing: border-box;
  opacity: 0.6;
  background-color: #c1c1c1;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.1);
  transition: transform .2s cubic-bezier(0.4, 0, 0.2, 0), opacity .2s cubic-bezier(0.4, 0, 0.2, 0);
  /* background: repeating-linear-gradient(-55deg, rgba(51, 182, 121, 0.55), rgba(51, 182, 121, 0.55) 10px, rgba(51, 182, 121, 0.4) 10px, rgba(51, 182, 121, 0.4) 20px); */
}
.progress-bar.active {
  transform: scale3d(1, 1.38, 1) translate3d(0, 0, 0);
  margin: 0 3px;
  box-shadow: 3px 2px 8px 1px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
}
.home-progress > :first-child.active {
  margin: 0 3px 0 0;
  background-color:#33b679;
}
.home-progress > :last-child.active {
  margin: 0 0 0 3px;
  background-color:#039be5;
}

/* Current tasks */
.home-content {
  position: relative;
  width: 100%;
}
.home-content-mask {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}
.home-content-mask .mask-row {
  margin: 0;
}

#home-swiper {
  height: auto;
}
.home-swiper-child {
  display: flex;
  flex-direction: column;
}
.home-list {
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin: 10px 0 0 0;
  box-sizing: border-box;
}
.home-list-head {
  display: flex;
  align-items: center;
  /* TODO Use theme variables */
  font-size: 14px;
  margin: 0 0 10px 0;
}
.home-list-head-project {
  cursor: pointer;
  transition: color .2s cubic-bezier(0.4, 0, 0.2, 0);
}
.home-list-head-chevron {
  display: flex;
  font-size: 10px;
  margin: 0 5px;
}

.home-swiper .eon-swiper-wrapper {
  height: auto;
}

.home-swiper-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-main {
  display: flex;
  box-sizing: border-box;
  width: 65%;
  flex-direction: column;
  align-items: center;
  height: 90%;
}
#home .home-main {
  height: auto !important;
}

.attend-navigation {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0 0 0;
  padding: 0 10px;
  box-sizing: border-box;
}

.attend-event-currentType {
  display: flex;
}

/* REMOVE WHEN FONT IS UPDATED */
.vicon-chevron-left:before {
  margin: 0 0 2px -3px;
}
.ticon-alert:before {
  margin: 0 0 6px 1px;
}
.ticon-meeting:before {
  margin: 0 0 4px 1px;
}
.attend-event-icon.ticon-alert:before {
  font-size: 44px;
}

.attend-event-currentTypeLabel {
  margin-right: 12px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.attend-event-remove .vicon,
.attend-event-currentTypeIcon {
  height: 45px;
  width: 45px;
  border-radius: 45px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 12px -2px rgba(148, 148, 148, 1);
  -moz-box-shadow: 0px 0px 12px -2px rgba(148, 148, 148, 1);
  box-shadow: 0px 0px 12px -2px rgba(148, 148, 148, 1);
}



.attend-event-currentTypeIcon.vicon {
  font-size: 28px;
  color: #8c27cf;
}

.attend-event-confirmDelete {
  margin-right: 10px;
}

.attend-event-remove .vicon {
  font-size: 28px;
  background-color: #ea4335;
  color: white;
}

.attend-title {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #8c27cf;
  padding: 15px 0;
}

.attend-card {
  display: flex;
  padding: 40px;
  background: #ffffff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

/* LOGO RELATED RULES */
.attend-logoWrapper {
  display: flex;
  flex-grow: 0;
  border-radius: 25px;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.attend-logoWrapper .attend-logo {
  width: 90%;
  opacity: 0.6;
  transition: opacity 0.4s;
}

/* BODY RELATED RULES */
.attend-bodyWrapper {
  flex-grow: 1;
  width: 70%;
  height: 100%;
}

.attend-body {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

.attend-timelineSlide .attend-body {
  max-width: 450px;
  max-height: 100%;
}

/* NEW: TIMELINE */
.attend-timeline-scroll {
  max-height: 600px;
  margin: 20px 0;
  margin-bottom: 20px;
  position: relative;
  width: 95%;
}
.attend-timelineWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100%;
}
.attend-timeline {
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 30px 10px;
  /* Temp */
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.attend-timeline-topGradient {
  position: absolute;
  width: 100%;
  height: 28px;
  top: 0;
  transform: rotate3d(0, 0, 1, 180deg);
  background-color: white;
  box-shadow: -1px -14px 6px -6px white;
  z-index: 2;
}

.attend-timeline-bottomGradient {
  background: url(/app/img/attend-gradient.png);
  position: absolute;
  width: 100%;
  height: 29px;
  bottom: 0;
  z-index: 2;
}

.attend-timeline-event {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 110px;
}

.attend-timeline-line {
  flex-grow: 1;
  border: 0;
  /* border-left: 2px solid #8c27cf; */
  border-left-width: 2px;
  border-style: dashed;
  margin: 5px 0px 5px 28px;
}

.attend-timeline-event:first-child {
  flex-grow: 0;
  min-height: auto;
}

.attend-timeline-event:first-child .attend-timeline-line {
  display: none;
}

.attend-timeline-content {
  display: flex;
  flex-grow: 0;
  height: 60px;
}

.attend-timeline-event:not(.attend-timeline-addEvent):not(.attend-timeline-activeEvent)
  .attend-timeline-iconWrapper,
.attend-timeline-event:not(.attend-timeline-addEvent):not(.attend-timeline-activeEvent)
  .attend-timeline-data {
  opacity: 0.4;
}

.attend-timeline-activeEvent .attend-timeline-line {
  border-style: solid;
}

.attend-timeline-iconWrapper {
  height: 100%;
  width: 60px;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.attend-timeline-icon.vicon {
  font-size: 38px;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  color: #808080;
  -webkit-box-shadow: 0px 0px 12px -2px rgba(148, 148, 148, 1);
  -moz-box-shadow: 0px 0px 12px -2px rgba(148, 148, 148, 1);
  box-shadow: 0px 0px 12px -2px rgba(148, 148, 148, 1);
  position: absolute;
  z-index: 1;
}

.attend-timeline-event:not(.attend-pastEvent):not(.attend-timeline-addEvent)
  .attend-timeline-icon.vicon {
  background: white;
}

.attend-pastEvent .attend-timeline-icon {
  /* background: #8c27cf; */
  color: white;
  box-sizing: border-box;
}

.attend-timeline-addEvent .vicon {
  transform: scale3d(1, 1, 1);
  transition: transform 0.2s;
}

.attend-timeline-addEvent .attend-timeline-content {
  cursor: pointer;
}

.attend-timeline-addEvent .attend-timeline-content:hover .vicon-add {
  transform: scale3d(1.2, 1.2, 1.2) translateZ(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

.attend-timeline-addEvent .vicon-add {
  background: #f7931e;
  color: white;
}

.attend-timeline-data {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  justify-content: center;
  flex-basis: 0;
}

.attend-timeline-addEvent .attend-timeline-data {
  color: #f7931e;
  font-weight: bold;
}

.attend-timeline-type {
  font-weight: bold;
}

.attend-timeline-time {
  font-size: 14px;
}

.attend-timeline-buttonsWrapper {
  display: flex;
  flex-grow: 0;
  flex-direction: row-reverse;
}

.attend-timeline-editButton,
.attend-timeline-stopButton {
  height: 100%;
  width: 50px;
  color: #4285f4;
  cursor: pointer;
}

.attend-timeline-stopButton {
  color: #ea4335;
}

.attend-timeline-hidden {
  display: none !important;
}

.attend-timeline-disabled,
.attend-timeline-disabled .attend-timeline-content,
.attend-timeline-disabled .attend-timeline-buttonsWrapper {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.attend-timeline-stopButton.vicon {
  font-size: 40px;
}

.attend-workday {
  flex-grow: 0;
  margin-bottom: 70px;
}

.attend-breaks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.attend-breaksTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.attend-breaksHeaders {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.attend-breaksHeader {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  flex-basis: 0;
}

/* attend-view eon-scroll {
    display: flex;
    width: 100%;
    max-height: 260px;
} */

.attend-breaksBody {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
}

.attend-breakRow {
  display: flex;
  border-bottom: 1px solid #e3e3e3;
  padding: 12px 0;
  position: relative;
}

.attend-breakRow:last-child {
  border-top: 1px solid #e3e3e3;
}

.attend-breakCell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
}

.attend-workdayTitle,
.attend-breaksTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
  font-weight: bold;
  font-size: 24px;
}

.attend-entry,
.attend-exit {
  display: flex;
  margin-bottom: 15px;
}

.attend-workedTime {
  display: flex;
  justify-content: space-between;
  color: #6d6d6d;
  margin-bottom: 10px;
  font-size: 18px;
}

.attend-workedTimeLabel {
  margin-right: 10px;
}

.attend-actionWrapper {
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-content: center;
  align-items: center;
}

/* SLIDER RELATED RULES */
.attend-sliderTip {
  font-size: 22px;
  margin-top: 15px;
}

.attend-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  /* background-color: #8c27cf; */
  border-radius: 50px;
  padding: 5px;
  box-sizing: border-box;
  max-width: 320px;
  flex-basis: 0;
  flex-grow: 1;
  transition: 0.3s background-color;
}

.attend-slider-exit {
  background-color: #f7931e;
}

.attend-slider.attend-disabled,
.attend-pauseButton.attend-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.attend-sliderTransition {
  transition: all 0.4s;
}

.attend-sliderError {
  background-color: #c64138;
}

.attend-sliderCross {
  width: 50px;
  height: 50px;
  font-size: 50px;
  color: #ffffff;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s;
}

.attend-thumbWrapper {
  display: flex;
  flex-grow: 1;
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.attend-floatingText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  font-size: 18px;
  pointer-events: none;
  margin-left: 50px;
}

.attend-thumb {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #ffffff;
  position: absolute;
  transform: translate3d(0, 0, 0);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.2s;
  left: 0;
}

.attend-thumbIncreasedArea {
  opacity: 0.5;
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 150px;
}

.attend-thumbArrow {
  font-size: 40px;
  /* color: #8c27cf; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s;
  pointer-events: none;
}

.attend-activeThumb .attend-thumbArrow {
  opacity: 0;
}

.attend-pauseButton {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: #8c27cf;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s;
  pointer-events: all;
  margin-left: 10px;
  position: relative;
}

.attend-pauseButton:hover {
  opacity: 0.7;
}

.attend-pauseButton i {
  font-size: 55px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s;
  pointer-events: none;
  display: none;
}

.attend-pauseButton .vicon-play {
  position: absolute;
  left: 5px;
}

/* OVERTIME DIALOG */
.attend-overtimeDialog {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.attend-overtimeDialog eon-variable {
  margin-bottom: 20px;
}

.attend-reopenWorkday {
  margin-bottom: 10px;
}

/* Events creation */
.attend-types-wrapper {
  display: flex;
  width: 100%;
}

.attend-event-type {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  flex-grow: 1;
  flex-basis: 0;
  cursor: pointer;
}

.attend-event-type:first-child {
  margin: 0;
}

.attend-event-iconWrapper {
  height: 80px;
  width: 80px;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attend-event-icon.vicon {
  font-size: 50px;
  height: 80px;
  width: 80px;
  border-radius: 80px;
  color: #808080;
  -webkit-box-shadow: 0px 0px 12px -2px rgba(148, 148, 148, 1);
  -moz-box-shadow: 0px 0px 12px -2px rgba(148, 148, 148, 1);
  box-shadow: 0px 0px 12px -2px rgba(148, 148, 148, 1);
  transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 0);
}

.attend-timeline-content:hover .vicon-add {
  transform: scale3d(1.2, 1.2, 1.2);
}

.attend-event-type:hover .vicon {
  /* color: #8c27cf; */
}

.attend-event-type eon-variable {
  transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 0);
}
.attend-event-type:hover eon-variable {
  font-weight: bold;
  /* color: #8c27cf; */
}

.attend-event-type.selected .vicon {
  color: #8c27cf;
}
.attend-event-type.selected eon-variable {
  font-weight: bold;
  color: #8c27cf;
}

.attend-event-name {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
  text-align: center;
}
@media (min-width: 1024px) {
  home-view #home .title-row {
    display: flex !important;
  }
  .home-list {
    padding: 10px 10px 10px 0px;
  }
}

@media (max-width: 1100px) {
  .home-main {
    width: 80%;
  }
}

@media (max-width: 950px) {
  .home-main {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .home-main {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .attend-bodyWrapper {
    width: 100%;
    max-width: 500px;
  }
  .attend-actionWrapper {
    width: 65%;
  }
  .attend-body {
    flex-grow: 1;
    padding: 0 10px 20px;
    box-sizing: border-box;
  }
  .attend-logoWrapper {
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 20px;
  }
  .attend-logoWrapper .attend-logo {
    font-size: 160px;
    margin: 25px;
    max-width: 500px;
  }
  .attend-workdayTitle,
  .attend-breaksTitle {
    font-size: 19px;
  }
  .attend-timeline-scroll {
    max-height: inherit;
    margin: 10px 0 20px 0;
  }
  .attend-timeline {
    font-size: 16px;
    justify-content: space-around;
    overflow: auto;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0px 10px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  .attend-types-wrapper {
    height: auto;
    flex-direction: column;
    max-width: 260px;
  }
  .attend-event-type {
    flex-direction: row;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  .attend-event-type:first-child {
    margin: 0 0 30px 0;
  }
  .attend-event-type:last-child {
    margin-bottom: 0;
  }
  .attend-event-name {
    text-align: left;
    margin-top: 0;
    margin-left: 25px;
    padding: 0 16px 0 0;
  }
  .attend-event-entry,
  .attend-event-exit {
    flex-direction: column;
  }

  attend-form,
  attend-form eon-form {
    height: 100%;
    justify-content: space-evenly;
  }

  [name="notes"] .eon-text-main {
    height: 100px !important;
  }
  .attend-breaks {
    overflow: auto;
    max-height: 100%;
  }
  .attend-workday {
    margin-bottom: 25px;
  }
  .attend-slider {
    margin: 0;
    max-width: none;
  }
  .attend-pauseButton {
    margin: 20px 0 20px 10px;
  }
  .attend-sliderTip {
    display: none;
  }
  .attend-types-wrapper {
    width: auto;
  }
}

@media (max-width: 500px) {
  /* HOME */
  #home .home-main {
    padding: 20px 0;
  }
  .tasks-home {
    width: 100%;
  }
  .home-resume {
    font-size: 16px;
    padding: 0 10px;
    width: 100%;
  }
  .home-progress {
    padding: 0 10px 0 10px;
  }
  .home-content-mask {
    padding: 0 10px;
  }
  /* .task-stat {
    align-items: center;
  } */
}

@media (max-width: 400px) {
  .attend-timeline-data {
    padding: 0 10px;
  }
  .attend-timeline-editButton,
  .attend-timeline-stopButton {
    width: 38px;
  }

  .attend-actionWrapper {
    width: 72%;
    margin: 0 0 20px 0;
  }
}

@media (max-height: 650px) {
  /* HOME */
  #home .home-main {
    justify-content: flex-start;
  }
  /* .tasks-home {
    height: auto;
  }
  .home-main {
    height: 100%;
  } */
}
@media (max-height: 500px) {
  attend-view.section {
    padding: 0px;
  }
  .attend-timeline-scroll {
    padding: 0px 10px;
  }
  .attend-timeline {
    padding: 10px;
  }

}

@media (min-height: 501px) and (max-width: 500px) {
  .attend-actionWrapper {
    margin-bottom: 10px;
  }
}

.attend-sliderLoadingRotator {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: opacity 0.4s;
}
.attend-sliderLoadingRotator div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 37px;
  height: 37px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: attend-sliderLoadingAnimation 1.2s cubic-bezier(0.5, 0, 0.5, 1)
    infinite;
  border-color: #fff transparent transparent transparent;
}
.attend-sliderLoadingRotator div:nth-child(1) {
  animation-delay: -0.45s;
}
.attend-sliderLoadingRotator div:nth-child(2) {
  animation-delay: -0.3s;
}
.attend-sliderLoadingRotator div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes attend-sliderLoadingAnimation {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

.attend-currentEventloader {
  font-size: 10px;
  /* margin: 50px auto; */
  text-indent: -9999em;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  -webkit-animation: currentEventKeyframes 1.4s infinite linear;
  animation: currentEventKeyframes 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  position: absolute;
  top: -5px;
}
.attend-currentEventloader:before {
  width: 50%;
  height: 50%;
  /* background: #8c27cf; */
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
@-webkit-keyframes currentEventKeyframes {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
@keyframes currentEventKeyframes {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
