/* MASK */
.view-mask {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 10px !important;
}

.section:not(.view-mask) > *:not(eon-placeholder):not(eon-dialog) {
  margin: 10px 0 0 0;
}

.view-mask,
eon-mask {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mask-title-row {
  min-height: 64px;
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mask-title-row .mask-text {
  margin: 0;
}

.mask-button {
  height: 39px;
  width: 149px;
  border-radius: 20px;
}
.mask-button-rect {
  height: 39px;
  width: 100px;
}

.mask-title {
  max-width: 200px;
  width: 40%;
  height: 32px;
}
.mask-row-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 0 10px 10px;
}
.mask-row {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  min-height: 50px;
  margin: 10px 0 0 0;
}
.mask-column {
  width: 275px;
  min-width: 275px;
  height: 100%;
}
.mask-card {
  width: 100%;
  height: 50px;
  margin: 10px 0 0 0;
  border-radius: 6px;
}
.mask-bar {
  height: 40px;
  min-height: 40px;
  width: 350px;
  border-radius: 20px;
  margin: 10px 0 0 0;
}
.mask-text {
  height: 25px;
  width: 120px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 15px 0 0 0;
}
.mask-text-large {
  width: 320px;
}
.mask-text-small {
  height: 30px;
  width: 40px;
}
.mask-form {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
  box-sizing: border-box;
}
.mask-field {
  display: flex;
  flex-direction: column;
}
.mask-field-text {
  display: flex;
  align-items: center;
  height: 35px;
  width: 200px;
  margin: 15px 0 0 0;
}
.mask-bubble {
  height: 60px;
  min-height: 60px;
  width: 60px;
  min-width: 60px;
  border-radius: 50%;
  margin: 0 10px 0 0;
}
.mask-grid-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px 10px 20px;
  box-sizing: border-box;
}
.mask-time-line {
  flex-grow: 1;
  width: 0;
  border: 0;
  margin-left: 28px;
  border-color: #efefef;
  border-left-width: 2px;
  border-style: dashed;
}
.mask-rect {
  width: 95%;
  height: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mask-slider {
  height: 60px;
  width: 100%;
  max-width: 320px;
  border-radius: 50px;
  margin-top: 10px;
}

.mask-margin-top {
  margin-top: 20px;
}

/* Content masks */
.mask-wrapper {
  position: relative;
}
.content-mask {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}


/* HOME */
home-view eon-mask,
.home-mask {
  align-items: center;
  margin-top: 0px !important;
  /* justify-content: center; */
}
.home-mask-container {
  height: 90%;
  width: 100%;
  max-height: 90%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 0 0 0;
}
.home-mask-title-row {
  justify-content: center;
  position: relative;
}
.home-mask-title-row > .mask-title {
  width: 100%;
  max-width: 100%;
}
.home-mask-title-row > .mask-button {
  position: absolute;
}
.home-mask-title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: 10px 0 10px 0;
}
.home-mask-title > div {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 80px;
  margin: 0 10px 0 0px;
}
.home-mask-title .mask-text:not(.mask-text-small) {
  width: 100%;
  max-width: 120px;
}
.home-mask-rect {
  width: 100%;
  height: 12px;
  min-height: 12px;
  margin: 10px 0 0 0;
}
.home-mask-text {
  height: 20px;
  width: 120px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 15px 0 0 0;
}
.home-mask-row {
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  min-height: 55px;
  margin: 0 0 10px 0;
}

.home-mask-container > .mask-row {
  margin: 0 0 0 0;
}
.home-mask-container > .first-mask-row {
  margin: 8px 0 0 0;
}
.home-mask-container > .first-mask-row .home-mask-text {
  margin: 32px 0 0 0;
}
.home-mask-container > .first-home-mask-row {
  margin: 8px 0 10px 0;
}


/* NOTIFICATIONS */
.notification-mask-text {
  margin: 10px 0 0 0;
}
.notification-mask-grid-titles {
  display: flex !important;
}
.notification-mask-grid-content {
  padding: 0 10px 10px 10px;
}

/* WORKSPACE */
.settings-mask-row {
  height: auto;
}
.settings-mask-row > div {
  margin-right: 15px;
}
.workspace-mask-actions-row {
  justify-content: flex-end;
  margin-top: 35px;
}

/* PROJECTS */
projects-view .section:not(.view-mask) > *:not(eon-placeholder) {
  margin: 0;
}
.projects-mask.section > *:not(eon-placeholder) {
  margin: 0;
}
board-view eon-mask .mask-column {
  margin: 0 12px 0 0;
}
.project-mask-card {
  min-height: 100px;
  max-height: 100px;
  width: 100%;
  min-width: 200px;
}
.project-mask-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 0 0 0 !important;
}
.project-mask-row > div {
  margin: 15px 15px 0px 0px;
}

/* BUSINESS */
/* TEAM */
business-view eon-mask .mask-grid-content,
.business-mask .mask-grid-content,
team-view eon-mask .mask-grid-content,
.team-mask .mask-grid-content {
  padding: 0 0 10px 0;
}

/* REPORT */
.report-grid-mask {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/* REGISTRY */
.registry-grid-mask,
.groups-grid-mask,
.member-grid-mask,
.plans-grid-mask,
.business-user-grid-mask {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.registry-grid-mask {
  padding-left: 10px;
}
.registry-grid-day {
  margin-top: 7px;
}
.registry-day-mask-title {
  height: 50px;
  display: flex;
  align-items: center;
  margin: 0 10px 10px 20px;
}
.registry-day-mask-title-placeholder {
  max-width: 200px;
  width: 40%;
  height: 50%;
}
.registry-day-mask-entry {
  height: 50px;
  margin: 0 10px 10px 20px;
}

@media (max-width: 1024px) {
  .mask-card {
    height: 86px;
  }
  .mask-rect {
    margin: 0;
    max-width: none;
  }
  .mask-slider {
    width: 100%;
  }
  .mask-bar {
    width: 100%;
  }
  .mask-grid-titles {
    display: none;
  }
  .mask-grid-content .mask-card {
    height: 150px;
  }

  /* BUSINESS */
  business-view eon-mask .mask-grid-content .mask-card,
  .business-mask .mask-grid-content .mask-card {
    height: 50px;
  }

  /* TEAM */
  team-view eon-mask .mask-grid-content .mask-card,
  .team-mask .mask-grid-content .mask-card {
    height: 90px;
  }

  /* NOTIFICATIONS */
  .notification-mask-grid-content .mask-card {
    height: 103px;
  }

  /* HOME */

  /* Attend */
  /* .home-mask-time {
    padding: 30px 15px;
  } */

  /* REGISTRY */
  .registry-day-mask-title {
    margin: 0;
    padding-left: 4px;
  }
  .registry-day-mask-entry {
    height: 150px;
    margin: 0 4px 10px 4px;
  }
}

@media (max-width: 800px) {
  .mask-row-container {
    padding: 0;
  }
  .home-mask-title-row > .mask-button {
    position: absolute;
    right: 0;
    width: 110px;
  }
}

@media (max-width: 700px) {
  .mask-button {
    width: 39px;
  }
  .mask-field {
    width: 100%;
  }
  .mask-field-text {
    width: 100%;
  }
  /* WORKSPACE */
  .settings-mask-row {
    flex-wrap: wrap;
  }
  .settings-mask-row > div {
    margin: 0;
    margin-bottom: 10px;
  }
  .workspace-mask-actions-row > div {
    margin-right: 10px;
  }
}

/* PROJECTS */
@media (min-width: 600px) {
  .project-mask-card {
    max-width: calc(50% - 15px);
    margin: 15px 15px 0 0;
  }
}

@media (min-width: 800px) {
  .project-mask-card {
    max-width: calc(33.333% - 15px);
  }
}

@media (min-width: 1000px) {
  .project-mask-card {
    max-width: calc(25% - 15px);
  }
}
