/* GRIDS */
.grid {
  display: flex;
  flex-direction: column;
}

/* Grid header */
.grid-titles {
  display: flex;
  font-size: 18px;
  overflow: hidden;
  color: grey;
  border-radius: 2px;
  background-color: #efefef;
  border: 1px solid #e5e5e5;
}

.grid-titles>eon-variable {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 50px;
  height: 50px;
  font-weight: 400;
  border-radius: 2px;
  color: grey;
}

.grid-placeholder {
  width: 22px;
  max-width: 22px;
  /*63px*/
}

.cell-empty {
  flex: none !important;
  min-width: 50px !important;
  max-width: 50px;
  height: 50px;
  width: 50px;
  position: relative;
}

/* Grid content */
.grid-entries {
  position: relative;
  margin-bottom: 10px;
}

.grid-empty::before {
  display: none !important;
}

.grid-empty > div {
  display: flex;
  align-items: center;
  padding: 20px;
}

/* Grid cards */
.card-header {
  width: calc(100% - 50px);
  justify-content: space-between !important;
  margin-bottom: 10px;
  padding: 8px 0 0 0;
  box-sizing: border-box;
}

.card-header .action-block {
  display: flex;
}

.card-details {
  align-items: flex-start !important;
  justify-content: space-evenly !important;
  padding: 0px 8px 8px 8px;
}

.grid-card-title {
  margin-bottom: 0;
  color: #3bb2e4;
  font-size: 18px;
}

.grid-card-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.grid-card-column>div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 60px;
  min-height: 30px;
  margin-top: 12px;
  font-size: 15px;
}

.grid-card-bottom {
  padding: 2px 2px 4px 2px;
}

.grid-card-spacer {
  height: 72px;
  margin: auto 0 auto 0;
  display: flex;
  width: 3px !important;
  min-width: 3px !important;
  max-width: 0;
  background-color: #f7f5f5 !important;
}

/* TEMP - remove right values on new design */
.card-date-column {
  display: flex;
  position: relative;
  right: calc(8% - 25px);
}

.card-total-column {
  position: relative;
  right: calc(8% - 22px);
}

.card-events-title,
.card-notes-title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  font-size: 20px;
  /* color: #8c27cf; */
}

.card-notes-title {
  color: #fbbc05;
}

.card-timeline-scroll {
  max-width: 80%;
  width: 80%;
  min-height: 136px;
  margin-top: 10px !important;
  position: relative;
}

.card-timeline {
  display: flex;
  width: auto;
  padding: 10px 0;
  box-sizing: border-box;
}

.card-timeline > .timeline-shadow {
  position: absolute;
  left: 0;
  height: 100%;
  width: 8px;
  z-index: 10;
  top: 0;
  background-color: white;
  -webkit-box-shadow: 0px 1px 10px 6px white;
  -moz-box-shadow: 0px 1px 10px 6px white;
  box-shadow: 0px 1px 10px 6px white;
}
.card-timeline > .timeline-shadow:last-child {
  right: 0;
  left: auto;
}

.card-map {
  display: flex;
  min-height: 238px;
  width: 80%;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
}

.card-notes {
  display: flex;
  flex-direction: column;
  min-height: 80px;
  height: 80px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
}
.card-notes-scroll {
  width: 80%;
  margin-top: 10px !important;
}

/* Rows header */
.grid-row {
  display: flex;
  overflow: hidden;
  min-height: 50px;
  border-radius: 6px;
  margin: 10px 0 0 0;
  background-color: #ffffff;
  border: 1px solid #f3f3f3;
  -webkit-box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.10);
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.10);
  /* box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.10); */
}

.row-header {
  height: 50px;
}

.row-header>div {
  min-width: 50px;
}

.cell-alias {
  position: relative;
  max-width: 80%;
  justify-content: flex-start !important;
}

.cell-alias-wrapper {
  display: flex;
  align-items: center;
  min-width: 200px;
}

.cell-alias>span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  /* max-width: 95px; */
}

.cell-alias-label {
  display: flex;
}
.cell-alias-label :first-child {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Rows content */
.row-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-regs {
  display: flex;
  flex-grow: 1;
}

.sub-regs>div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-width: 60px;
  min-height: 40px;
  flex-basis: 0;
}

/* Cells */
.cell-action {
  flex: none !important;
  min-width: 50px !important;
  max-width: 50px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: relative;
}
.cell-action.clickable:after {
  height: 100%;
  width: 100%;
}

.cell-type {
  font-size: 14px;
  font-weight: bold;
  justify-content: flex-start !important;
  word-break: break-word;
}

.cell-type i::before {
  display: flex;
  font-size: 24px;
  align-items: flex-end;
  margin-right: 6px;
  margin-left: 22px;
  color: #8c27cf;
}

.grid app-avatar {
  margin-right: 6px;
  margin-left: 12px;
}
.cell-entry {
  display: flex;
  position: relative;
}

.cell-edit {
  visibility: hidden !important;
}

.vicon.cell-edit {
  font-size: 18px;
}

.cell-edit.visible {
  display: flex !important;
}

.cell-edit,
.cell-show {
  color: #4285f4;
}

.cell-location {
  color: #ea4335;
}

.vicon.cell-location,
.vicon.cell-notes {
  font-size: 24px;
}

.cell-notes,
.cell-export,
.cell-invite {
  color: #fbbc05;
}

@media (min-width: 1024px) {
  .row-content>.sub-regs {
    min-height: 50px;
  }
  .cell-alias-label {
    max-width: 50px;
  }
}

@media (max-width: 1024px) {
  .row-header {
    height: auto !important;
  }

  .grid-titles {
    display: none;
  }

  .cell-alias {
    position: relative;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .card-notes-scroll,
  .card-timeline-scroll,
  .card-map {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .cell-alias {
    justify-content: center !important;
  }

  .cell-alias>span {
    display: none;
  }
}

@media (max-width: 500px) {
  .row-content>.sub-regs>div {
    font-size: 14px;
  }

  .cell-action {
    min-width: 40px !important;
    max-width: 40px;
  }

  .card-header {
    width: calc(100% - 40px);
  }
}

@media (max-width: 420px) {

  .grid-card-title,
  .card-events-title {
    font-size: 17px;
  }

  /* TEMP - remove right values on new design */
  .card-date-column {
    right: calc(8% - 15px);
  }
}