html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
}
body.hideScroll {
  overflow-y: hidden;
}

body.overlap-overlays>.eon-dialog-overlay {
  z-index: 101 !important;
}

.app-background {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("/app/img/background_grey.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  visibility: hidden;
  display: flex;
  overflow: hidden;
}

.main-text {
  font-size: 18px;
  margin-bottom: 15px;
}

.main-buttons {
  display: flex;
  justify-content: center;
  margin:  0 10px 10px 10px;
}

.main-buttons eon-button:last-child {
  margin-left: 20px;
}

.wip-overlay {
  position: absolute;
  height: calc(100% - 85px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 50px; */
  box-sizing: border-box;
  z-index: 100;
  background: #ffffff;
}
.wip-overlay > div {
  width: 100%;
  height: 100%;
  opacity: 0.18;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.wip-overlay > eon-variable {
  position: absolute;
  font-size: 40px;
  top: calc(50% - 120px);
  padding: 50px;
}

.card {
  background-color: #ffffff;
  border: 1px solid #efefef;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 0);
}

.card:hover {
  -webkit-box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.2);
}

.box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 20px;
  padding: 0 10px 0 0;
  background: #ffffff;
  border: 2px solid #efefef;
  box-sizing: border-box;
  min-height: 38px;
  max-height: 40px;
  max-width: 350px;
  width: auto;
  overflow: hidden;
  flex: none;
}

.box.hide {
  display: none;
}

.box>* {
  margin-left: 10px;
}

.box>.spacer {
  border-right: 1px solid #dcdcdc;
  width: 0;
  height: 18px;
  flex: none;
}

.box>.search {
  width: 30px;
  position: relative;
}

.box>.search>.search-clickable {
  position: absolute;
  height: calc(100% + 20px);
  width: calc(100% + 20px);
  cursor: pointer;
}

/* Content */
.sections {
  display: none;
  flex-grow: 1;
  width: calc(100% - 240px);
  padding-top: 40px;
}

.sections>.view-render {
  position: relative;
}

.sections>.view-render[data-view="/app/projects*"],
.sections>.view-render[data-view="/app/calendar*"] {
  /* max-width: 100% !important; */
  /* OVR */
  /* padding: 0px !important; */
  /* margin: 0 !important; */
  /* margin-top: 40px !important; */
}

.sections>.view-render[data-imported="true"] {
  width: 100%;
  /* padding: 38px 35px 35px 35px; */
  box-sizing: border-box;
  /* TEMP - Move to theme */
  background-color: transparent;
  overflow: hidden;
}

.section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 0 auto;
  padding: 0px 10px;
  box-sizing: border-box;
}


/* SWIPER VIEWS */
.view-swiper {
  display: flex;
  flex-direction: column;
}

.view-content {
  display: flex;
  flex-wrap: wrap;
  padding: 2px 10px;
  box-sizing: border-box;
}

.content-row {
  flex-direction: row !important;
  flex-grow: 0 !important;
}

.item-card {
  position: relative;
  min-height: 100px;
  max-height: 100px;
  width: 100%;
  min-width: 200px;
  padding: 10px;
  margin: 15px 0 0 0;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #efefef;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 0);
}

.colored-card {
  color: #ffffff;
  border: 0;
}

/* .item-card:hover {
  transform: scale3d(1.02, 1.02, 1.02);
} */
.item-card-title {
  font-size: 15px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.section-title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.title-row .section-title {
  flex-grow: 1;
  height: 64px;
}
.expanded .title-row .section-title {
  padding-left: 10px;
}
.title-row {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 60px;
}

.title-row .action-buttons {
  display: flex;
  position: absolute;
  right: 0;
  padding: 0 5px 0 0;
}

.title-row .action-buttons>eon-button {
  pointer-events: auto;
  display: flex;
  justify-content: center;
  max-width: 300px;
  height: 36px;
  margin-left: 10px;
}

.title-row .action-buttons .ticon {
  font-size: 18px;
}

@media (min-width: 600px) {
  .item-card {
    max-width: calc(50% - 15px);
    margin: 15px 15px 0 0;
  }
}

@media (min-width: 800px) {
  .item-card {
    max-width: calc(33.333% - 15px);
  }
}

@media (min-width: 1000px) {
  .item-card {
    max-width: calc(25% - 15px);
  }
}

/* Calendar and Projects views */


/* Settings view */
.info-box {
  box-sizing: border-box;
  padding: 0;
}

.info-main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.info-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.info-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 15px 10px 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.info-column .info-checks:not(:first-child) {
  margin-top: 4px;
}

/* THEME */
/* Read only workspace info checkboxes */
/* .info-column .info-checks[checked="true"] .eon-check-span {
  background-color: transparent !important;
  border-color: transparent;
} */

/* .info-column .info-checks[checked="true"] .eon-check-label::after {
  border: 2px solid #8c27cf !important;
  border-top: none !important;
  border-right: none !important;
  background: transparent;
  top: 5px;
  left: 4px;
  width: 12px;
} */

/* .info-column .info-checks[checked="false"] .eon-check-label::before {
  transform: rotate3d(0, 0, 1, 45deg);
}

.info-column .info-checks[checked="false"] .eon-check-label::after {
  transform: rotate3d(0, 0, 1, -45deg);
}

.info-column .info-checks[checked="false"] .eon-check-label::before,
.info-column .info-checks[checked="false"] .eon-check-label::after {
  border: 2px solid #f57878;
  border-top: none;
  border-right: none;
  background: transparent;
  content: "";
  position: absolute;
  top: 3px;
  left: 10px;
  height: 14px;
  width: 0px;
}

.info-column .info-checks[checked="false"] .eon-bg2-border {
  border: 0 solid transparent;
}

.info-column .info-checks .eon-bg2-border {
  border-color: #cccccc;
} */

.info-text {
  flex-direction: column !important;
  margin-bottom: 15px;
  max-width: 100%;
}

.info-mail {
  flex-grow: 1;
}

/* TODO: */
/* .info-text .eon-text-description {
  display: none;
} */

/* .info-text .eon-text-label {
  color: #8c27cf;
} */
.info-text .eon-text-main {
  color: transparent !important;
  background-color: transparent !important;
  padding: 4px 10px 0 0;
}

/* Views bars */
.main-bar {
  width: 100%;
  display: flex;
  align-items: center;
  height: 60px;
}

.bar-current {
  flex-grow: 1;
  margin-right: 5px;
}

.bar-button {
  font-size: 16px;
  font-weight: normal;
}

.bar-button .eon-button-button {
  color: #ffffff !important;
}

/* .bar-button[design="filled"] .eon-button-button:hover {
  background: #51e3d8 radial-gradient(circle, transparent 1%, #51e3d8 1%)
    center/15000% !important;
  box-shadow: none !important;
} */
/* .bar-button[design="filled"] .eon-button-button:active {
  background-color: #85eee3 !important;
} */

/*  */
.time-field .eon-date-timeWrapper {
  margin-left: 0;
}

.time-field {
  min-width: 110px;
  width: 110px;
  flex-grow: 0 !important;
}

.weekday-field {
  width: 200px;
}

.eon-slider-display {
  margin-left: 10px;
}

.ranges {
  padding: 0 10px;
}

.timeCombosWrapper,
.dateTimeWrapper {
  display: flex;
  /* align-items: baseline; */
  align-items: flex-start;
}

.timeCombosWrapper .timeCombo:first-child,
.dateTimeWrapper .timeCombo:first-child {
  margin-right: 10px;
}

/* TODO: add to eon-toggle: remove height */
eon-toggle .eon-toggle-toggle {
  height: auto;
}

/* GENERIC RULES */
.pointer-disabled {
  pointer-events: none !important;
}

.disable-actions {
  pointer-events: none;
}

.overlap {
  z-index: 101 !important;
}

.ghost {
  display: none !important;
}

.hide {
  display: none !important;
  opacity: 0;
  pointer-events: none;
}

.row {
  display:flex;
  flex-direction: row;
}

.column {
  display:flex;
  flex-direction: column;
}
.main-color {
  color: #8c27cf;
}

.blured {
  opacity: 0.4;
}

.nav-disabled {
  color: #c7cccb;
  pointer-events: none;
}

.imp {
  font-weight: 400;
}

.sec {
  color: #b9c4c3;
}

.no-visible {
  visibility: hidden !important;
}

.visible {
  visibility: visible !important;
}

.visible-flex {
  display: flex !important;
}

.visible-block {
  display: block !important;
}

.position-reset {
  position: inherit !important;
}

.clickable {
  position: relative;
}
.clickable:after {
  content: "";
  position: absolute;
  height: calc(100% + 20px);
  width: calc(100% + 20px);
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  cursor: pointer;
  z-index: 0;
}

.left-radius {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.right-radius {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

/* TODO: */
/* .hide-description .eon-combo-description {
  display: none;
} */

.separator {
  flex-grow: 1;
}

/* Placeholders */
.no-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 5% 10% !important;
  box-sizing: border-box;
}
.no-content > img { 
  max-height: 300px;
}
.no-content > div { 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
}
.no-content .no-content-title {
  height: 36px;
  width: 100%;
  font-weight: bold;
  margin: 25px 0 0 0;
}
.no-content > .no-content-text { 
  height: 50px;
}

.no-content .add-new {
  margin-top: 10px;
  cursor: pointer;
  font-style: normal;
  transition: ease color 0.2s;
}

.place-holder {
  padding: 15px 0 !important;
  font-size: 15px;
  font-style: italic;
  color: #9a9a9a;
}

.eon-combo-dropdown eon-item {
  text-align: center;
}

.owner-span {
  color: #b9c4c3;
  font-size: 14px;
  position: absolute;
  right: -10px;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  transition: color .2s cubic-bezier(0.4,0,0.2,0);
}

eon-item .owner-span {
  right: 15px;
}
eon-item.member-item {
  display: flex;
  position: relative;
  flex-direction: row-reverse !important;
}
eon-item.member-item .owner-span {
  position: relative;
  margin: 0 0 0 10px;
  right: auto;
}
eon-item.member-item :last-child {
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.no-selectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.main-view-notifications {
  cursor: pointer;
  margin-right: 10px;
  position:relative;
}

.main-view-notifications-new {
  position: absolute;
  background-color:red;
  height:10px;
  width:10px;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
}


@media (max-width: 1024px) {
  .owner-span {
    position: static;
    margin: 0 0 0 5px;
  }
}

@media (max-width: 800px) {
  .info-box {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .title-row .action-buttons>.bar-button .eon-button-button {
    width: 39px;
  }

  .bar-button .eon-button-button {
    padding: 10px !important;
  }

  .bar-button .eon-button-buttonIcon {
    margin-right: 0 !important;
  }

  .bar-button .eon-button-buttonText {
    display: none;
  }

  .info-row {
    align-items: flex-start;
    /* margin-bottom: 0; */
  }
}

@media (max-width: 600px), (max-height: 600px) {
  .main-buttons {
    flex-wrap: wrap;
  }
  .main-buttons eon-button {
    width: 100%;
  }
  .main-buttons eon-button:last-child {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media (min-width: 500px) {
  .section {
    padding: 20px 25px 20px 25px;
  }
}

@media (min-width: 700px) {
  .wip-overlay > eon-variable {
    font-size: 60px;
  }

  .section {
    padding: 20px 60px 20px 60px;
  }

  .section.expanded {
    max-width: 100%;
    padding: 20px 30px 25px 30px;
  }
  
}

