/* LOADING MASKS */
.loading {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #8c27cf;
  z-index: 999;
  /* -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite; */
  background: linear-gradient(319deg, #a61ad0, #6c37ce, #a61aff);
  background-size: 600% 600%;
}
/* @-webkit-keyframes AnimationName {
  0%{background-position:0% 14%}
  50%{background-position:100% 87%}
  100%{background-position:0% 14%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 14%}
  50%{background-position:100% 87%}
  100%{background-position:0% 14%}
}
@keyframes AnimationName {
  0%{background-position:0% 14%}
  50%{background-position:100% 87%}
  100%{background-position:0% 14%}
} */
.loading.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.loading.hide {
  display: none;
}

.loading #split-logo {
  position: relative;
  /* max-width: 300px; */
  display: flex;
  align-items: flex-end;
}

.loading .logo-icon {
  width: 100%;
}
.loading #o {
  position: absolute;
  width: 58px;
  height: 58px;
  right: 0;
  min-width: 58px;
}
.loading #o #halfclip {
  width: 29px;
  height: 100%;
  right: 0;
  position: absolute;
  transform-origin: left center;
  transform: rotate3d(0, 0, 1, 325deg);
  /* transition: transform 1s ease; */
  animation-delay: 0.3s;
  animation-name: rotate-first;
  animation-duration: 1s;
}
.loading #o #halfclip #o-bar {
  position: absolute;
  right: 0;
  top: calc(50% - 5px);
  border-radius: 20px;
  background: white;
  height: 6px;
  transform: rotate3d(0, 0, 1, -10deg);
  width: 32px;
}

.loading #o .halfcircle {
  box-sizing: border-box;
  height: 100%;
  right: 0;
  position: absolute;
  border: solid 11px transparent;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-radius: 50% 50%;
}
.loading #o #clipped {
  width: 200%;
}
.loading #o #fixed {
  width: 100%;
  transform: rotate3d(0, 0, 1, -145deg);
  animation-delay: 0.3s;
  animation-name: rotate-second;
  animation-duration: 1s;
}
.loading #o .edge {
  position: absolute;
  top: -4.2px;
  right: -3.5px;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  background: #ffffff;
}
.loading #o #fixed .edge {
  top: auto;
  right: auto;
  bottom: -4px;
  left: -4.5px;
}

.loading .dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75px;
  margin: 40px 0 0 0;
  font-size: 80px;
}

.loading .dots > span {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  transform: translate3d(0);
}

.loading .dots span:nth-child(2) {
  animation-delay: .2s;
}

.loading .dots span:nth-child(3) {
  animation-delay: .4s;
}

@keyframes rotate-first {
  0% {
    transform: rotate3d(0, 0, 1, -35deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 325deg);
  }
}
@keyframes rotate-second {
  0% {
    transform: rotate3d(0, 0, 1, -145deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 215deg);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.mask.expanded {
  display: flex;
  height: 100%;
  width: 100%;
}
/* .mask .logo-icon {
  max-width: 300px;
} */
.form-mask {
  background-color: transparent !important;
  /*OVR THEME*/
  height: calc(100% - 30px) !important;
  /*OVR THEME*/
  margin: 30px 0 0 0 !important;
  width: 100% !important;
  /*OVR THEME*/
}
.grid-mask {
  background-color: transparent !important;
  /*OVR THEME*/
  height: calc(100% - 52px) !important;
  margin: 52px 0 0 0 !important;
  width: 100% !important;
}
/*OVR THEME*/
.grid-mask .eon-loading-loading,
.grid-mask .eon-loading-inner-spin {
  background: #fbfbfd !important;
}
.location-dialog-mask {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 0);
  -webkit-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 0);
  -moz-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 0);
  -o-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 0);
  transition-property: opacity;
  will-change: opacity;
}

@media (max-width: 1470px) {
  .loading-desc {
    left: 0 !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
@media (max-width: 1024px) {
  .grid-mask {
    /*OVR THEME*/
    height: 100% !important;
    margin: 0 0 0 0 !important;
  }
}
@media (max-width: 500px) {
  .mask .logo-icon {
    width: 150px;
  }
}