/* Combo dropdown common */
.main-menu {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 100;
}
.main-menu-wrapper {
  z-index: 1;
  display: flex;
  align-items: center;
  height: 40px !important;
  padding: 5px 2px 5px 10px;
  box-sizing: border-box;
  background-color: #8c27cf;
  -webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.16);
  z-index: 99;
}
.main-menu-wrapper .wizard-back-btn {
  cursor: pointer;
}
.main-menu-wrapper .built-menu-icon {
  display: none;
}
.built-menu-icon.clickable:after {
  top: calc(50% - 18px);
}

/*  WORKSPACE MENUS */
.main-menu-wrapper .main-menu-workspace {
  display: flex;
  align-items: center;
}
#main-workspace .workspace-menu-actions > i:not(.ticon-grade) {
  color: #ffffff;
}
#main-workspace i:hover {
  color: #eee7f3 !important;
}
#main-workspace .workspace-menu-actions > .ticon-grade.active {
  color: #ffffff;
}

#drawer-workspace {
  padding: 0 12px;
  margin: 5px 0 0 0;
  box-sizing: border-box;
}
#drawer-workspace > .app-toggle-menu {
  width: 100%;
}

.main-menu-wrapper .workspaces-menu {
  height: 40px;
  width: 180px;
  color: #ffffff;
}

.main-menu-wrapper .logo-icon {
  display: flex;
  flex-grow: 1;
  height: 92%;
  margin: 3px 0;
}
.main-menu-wrapper .logo-icon > span {
  background-image: url(../img/logo-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 29px;
  width: 100px;
  position: absolute;
  left: calc(50% - 50px);
}

/* TEMP - move to template */
.main-menu-wrapper .workspaces-menu input {
  color: #ffffff;
}
.main-menu-wrapper .workspaces-menu .eon-combo-main {
  color: #ffffff;
}
.main-menu-wrapper .workspaces-menu .eon-combo-main:hover {
  -webkit-text-fill-color: #eee7f3;
  color: #eee7f3;
}
.main-menu-wrapper .workspaces-menu .eon-combo-dropButton:hover {
  -webkit-text-fill-color: #eee7f3;
  color: #eee7f3;
}

.main-menu-wrapper .user {
  height: 100%;
  /* min-width: 150px; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  cursor: pointer;
}
.main-menu-wrapper .user > i {
  width: 34px;
  height: 100%;
  font-size: 32px;
}
.main-menu-wrapper .user-name {
  margin-left: 10px;
  white-space: nowrap;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuAvatar{  
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menuAvatar app-avatar {
  margin-right: 0;
}
.menuAvatar .app-avatar-background {
  border: none;
  height: 30px;
  width: 30px;
}
.menuAvatar .app-avatar-image {
  height: 27px;
  width: 27px;
}

.main-menu-wrapper .user-combo {
  margin-right: 8px;
  margin-left: 5px;
}

/* eon-overlay:not([owner-id="user-settings-combo"]) .eon-combo-dropdown {
  min-width: 70px;
} */

/* TEMP - move to template */
.main-menu-wrapper .user-combo .eon-combo-dropButton {
  color: #ffffff;
}
.main-menu-wrapper .user-combo .eon-combo-dropButton {
  color: #ffffff;
}
.main-menu-wrapper .user-combo .eon-combo-main:hover {
  color: #eee7f3;
  -webkit-text-fill-color: #eee7f3;
}
.main-menu-wrapper .user-combo .eon-combo-dropButton:hover {
  color: #eee7f3;
  -webkit-text-fill-color: #eee7f3;
}
.main-menu-wrapper .user-combo .eon-combo-description {
  display: none;
}
.main-menu-wrapper .user-combo ::-webkit-input-placeholder {
  font-size: 18px !important;
  color: #ffffff;
}
.main-menu-wrapper.user-combo :-moz-placeholder {
  font-size: 18px !important;
  color: #ffffff;
}
.main-menu-wrapper .user-combo ::-moz-placeholder {
  font-size: 18px !important;
  color: #ffffff;
}
.main-menu-wrapper .user-combo :-ms-input-placeholder {
  font-size: 18px !important;
  color: #ffffff;
}

/* DRAWER MENU */
.drawer-placeholder {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  padding: 10px 10px 10px 40px;
  top: 65px;
  box-sizing: border-box;
  height: calc(100% - 65px);
  transition: min-width 0.2s;
}
.left-menu {
  display: flex;
  flex-direction: column;
  width: 250px;
  max-width: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99 !important;
}

.left-menu.eon-drawer-static {
  display: flex;
  flex-direction: column;
  padding: 10px;
  top: 38px;
  width: 200px;
  height: calc(100% - 38px);
  -webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.16);
  transition: width 0.2s;
}

.drawer-overlay-holder > .left-menu-overlay {
  position: static !important;
}
.left-menu-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 98 !important;
}

.left-menu #drawer-workspace {
  width: 100%;
  display: none;
}

.left-menu #drawer-workspace input {
  font-size: 16px;
}

.left-menu .eon-combo-description {
  display: none;
}

.left-menu #drawer-menu-icon {
  align-self: flex-end;
  top: 18px;
  right: 9px;
  width: 27px;
  height: 12px;
  margin-bottom: 20px;
}
.left-menu > .section-btn {
  position: relative;
  display: flex;
  justify-content: flex-start !important;
  width: 100%;
  margin: 25px 0 0 0;
  padding: 0 20px 0 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 0),
    padding 0.2s cubic-bezier(0.4, 0, 0.2, 0);
}

.left-menu > .section-btn.placeholder-btn {
  flex-grow: 1;
  cursor: inherit;
}
.left-menu > .section-btn > .section-menu-title {
  font-size: 18px;
  margin-left: 10px;
}
.left-menu .section-btn-spacer {
  flex-grow: 1;
}

.left-menu .section-btn::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}
/* ** RMV when back section icon is added */
.left-menu #backoffice-btn {
  font-size: 24px;
}

.left-menu #plan-info {
  display: none; /*TODO:*/
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 10px;
}
.left-menu #plan-icon {
  display: none;
  transition: box-shadow 0.2s, color 0.2s cubic-bezier(0.4, 0, 0.2, 0);
}

.left-menu #plan-upgrade-btn {
  display: flex;
  justify-content: center;
  max-width: 90%;
  border-radius: 2px;
  margin-top: 10px;
  padding: 4px 10px;
  cursor: pointer;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
.left-menu #plan-upgrade-btn:hover {
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

/* BREADCRUMB MENU */
.breadcrumb-menu {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
}
.breadcrumb-prev {
  cursor: pointer;
}
.breadcrumb-current {
  padding: 0 !important;
  font-weight: bold !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.breadcrumb-back {
  cursor: pointer;
  font-size: 19px !important;
  margin-right: 5px;
}
.breadcrumb-back.clickable {
  position: relative;
}
.breadcrumb-back.clickable:after {
  left: calc(50% - 22px);
  top: calc(50% - 20px);
}
.breadcrumb-slash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 7px;
}

/* TAB SELECTOR */
/* TODO - Only visible on desktop */
.tab-selector {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: none;
  height: 43px;
  max-height: 43px;
  max-width: 100%;
  padding: 0 10px;
  border-radius: 20px;
  background: #ffffff;
  border: 2px solid #efefef;
  box-sizing: border-box;
  overflow: hidden;
}
.tab-selector > .tab-node {
  display: flex;
  cursor: pointer;
  padding: 10px;
  margin: 0;
  transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 0);
}
.tab-selector > .tab-node.eon-fg1-active .tab-label{
  text-decoration: underline;
}
.tab-selector .tab-node-disabled {
  color: #cecece !important;
  cursor: not-allowed;
}
.tab-selector > .tab-node .tab-icon {
  margin: 0 10px 0 0;
  font-size: 19px;
}
.tab-selector > .tab-node .tab-label {
  
}

.tab-selector > .tab-spacer {
  width: 0;
  height: 18px;
  flex: none;
  margin: 0;
  border-right: 1px solid #dcdcdc;
}

.tab-menu-button {
  display: none !important;
  padding: 0 15px 0 10px;
  box-sizing: border-box;
  cursor: pointer;
  height: 39px;
  /* THEME */
  border: 1px solid #8c27cf;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
  
}
.tab-menu-button:hover {
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
.tab-menu-button :first-child {
  font-size: 19px;
  /* THEME */
  color: #8c27cf;
}
.tab-menu-label {
  max-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* THEME */
  color: #4e4e4e;
}


/* BUBBLE MENU */
/* .bubble-home {
  bottom: 60px;
  right: 60px;
  font-size: 30px !important;
}
.bubble-home.bubble-hide {
  transform: translate3d(0, 110px, 0);
} */

.tab-menu-header {
  /* font-weight: bold; */
  border-bottom: 2px solid;
  border-image: radial-gradient(#8c27cf, #e1b5ff) 1;
  text-align: center;
  cursor: default;
  margin: 0 0 10px 0;
  padding: 10px !important;
  box-sizing: border-box;
  width: 100%;
}
.tab-menu-header > eon-variable:last-child {
  font-weight: normal;
  font-size: 0.8em;
}
.tab-menu-content {
  width: 100%;
  box-sizing: border-box;
  padding: 10px !important;
  justify-content: space-between;
}
.tab-menu-content > eon-variable {
  width: 100%;
  cursor: pointer;
}

@media (min-width: 1471px) {
  /* Collapsed */
  .left-menu.collapsed,
  .drawer-placeholder.collapsed {
    width: 50px;
    min-width: 50px;
    padding: 10px 0;
  }
  .left-menu.collapsed #drawer-menu-icon {
    padding: 0 9px;
    align-self: flex-end;
    right: 0;
  }
  .left-menu.collapsed .section-btn {
    width: 50px;
    padding: 0 10px 0 12px;
  }
  .left-menu.collapsed .section-menu-title {
    display: none;
  }
  .left-menu.collapsed #plan-icon {
    display: flex;
  }
  .left-menu.collapsed #plan-upgrade-btn {
    box-shadow: none;
  }
  .left-menu.collapsed #plan-current,
  .left-menu.collapsed #plan-upgrade-label {
    display: none;
  }
}

@media (max-width: 1470px) {
  .main-menu-wrapper {
    width: 100%;
  }
  .main-menu-wrapper .built-menu-icon {
    display: flex;
  }
  .main-menu-wrapper .workspaces-menu {
    display: none;
  }
  .main-menu-wrapper .main-menu-workspace {
    display: none;
  }
  .main-menu-wrapper .user-name {
    display: none;
  }
  .drawer-placeholder {
    display: none;
  }
  .left-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.16);
  }
  .left-menu #drawer-workspace {
    display: flex;
  }
  .left-menu #drawer-menu-icon {
    display: none;
  }
}

@media (max-width: 800px) { 
  .tab-selector {
    display: none;
  }
  .tab-menu-button {
    display: flex !important;
  }
}
@media (max-width: 768px) {
  .main-menu-wrapper .user {
    min-width: auto;
  }
}
@media (max-width: 700px) {
  .tab-menu-label {
    display: none;
  }
}

@media (max-height: 600px), (max-width: 768px) {
  /* .bubble-home {
    bottom: 20px;
    right: 20px;
  } */
  /* .bubble-home.bubble-hide {
    transform: translate3d(0, 70px, 0);
  } */
}

@media (max-width: 500px) {
  .main-menu-wrapper .logo-icon > span {
    left: calc(50% - 75px);
  }
}