@element: member-entry;

@{element} {
  & {
    display: flex;
    overflow: hidden;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-top: 0px solid #e5e5e5;
  }
  &  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    min-width: 115px;
    min-height: 30px;
    flex-basis: 0;
    position: relative;
  }

  & .member-entry-alias {
    justify-content: flex-start;
  } 
 
  & > .@{element}-icon {
    height: 100%;
    min-width: 80px;
    max-width: 80px;
    flex: none;
    cursor: pointer;
    // TEMP - Move to theme
    color: #4285f4;
  }
  & > .@{element}-icon.@{element}-invite {
    color: #fbbc05;
  }
}