app-places[inline="true"] {
  display: inline-block;
  width: 200px;
}
app-places[label=""][counter="false"] .app-places-data {
  display: none;
}
app-places input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px;
}
app-places textarea.app-places-editable {
  height: 100%;
  width: 100%;
  background: transparent;
  overflow: auto;
  resize: none;
}
app-places.app-places-focus .app-places-underline:before,
app-places.app-places-focus .app-places-underline:after {
  width: 50%;
}
app-places[disabled="true"] {
  pointer-events: none;
}
app-places.disabled .app-places-editable:empty:before {
  content: attr(placeholder);
}
.app-places-data {
  height: 18px;
  margin-bottom: 5px;
  flex-grow: 0;
  display: flex;
  position: relative;
}
.app-places-label {
  position: absolute;
  transform: translate3d(0, 0, 0);
  font-size: 16px;
  height: 18px;
  flex-grow: 1;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.app-places-label.app-places-movedLabel {
  transform: translate3d(10px, 33px, 0);
  pointer-events: none;
}
.app-places-counter {
  height: 18px;
  flex-grow: 0;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  right: 0;
  top: 0;
}
.app-places-main {
  flex-grow: 1;
  box-sizing: border-box;
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.app-places-editable:empty:before {
  content: attr(placeholder);
}
.app-places-editable,
input {
  font-family: inherit;
  font-size: 15px;
  padding: 0;
  -webkit-user-select: text;
  user-select: text;
}
.app-places-editable {
  outline: none;
  cursor: text;
  word-wrap: break-word;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  overflow: hidden;
}
.app-places-editable div {
  max-width: 100%;
  word-wrap: break-word;
}
.app-places-editable p {
  margin: 0;
}
.app-places-underline {
  position: relative;
  display: block;
  width: auto;
}
.app-places-underline:before,
.app-places-underline:after {
  position: absolute;
  bottom: 0px;
  width: 0;
  height: 2px;
  content: "";
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
.app-places-underline:before {
  left: 50%;
}
.app-places-underline:after {
  right: 50%;
}
.app-places-description {
  margin-top: 5px;
  font-size: 14px;
  width: 100%;
}

/* Google Dropdown */

.pac-container {
  background-color: #fff;
  position: absolute!important;
  z-index: 1000;
  border-radius: 2px;
  border-top: 0;
  font-family: Arial,sans-serif;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  padding-top: 6px;
  padding-bottom: 12px;
  margin-top: 1px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.pac-item {
  padding: 6px 20px;
  border-top: 0;
}

.pac-icon {
  margin-right: 12px;
}

.pac-logo:after {
  margin-right: 12px;
  margin-top: 12px;
}
