@element: member-card;

@{element} {
  & {
    position: relative;
    display: flex;
    padding: 10px 0 10px 0px;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
  }
}

.@{element}-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 4px 0;
  min-height: 60px;
  max-height: 122px;
  flex-basis: 0;
}

.@{element}-item > eon-variable {
  font-weight: bold;
  margin-bottom: 4px;
}

.@{element}-item > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.@{element}-item-main > div:not(:last-child){
  margin-bottom: 0;
}

.@{element}-item-main > div {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.@{element}-spacer {
  height: 72px;
  margin: auto 0 auto 0;
  display: flex;
  width: 3px;
  // TEMP - move to theme
  background-color: #f7f5f5;
}

.@{element}-icon {
  width: 50px;
  font-size: 18px !important;
  // TEMP - move to them
  color: #4285f4;
  position: relative;
}

.@{element}-icon.ticon-resend {
  color: #fbbc05;
}
.@{element}-edit-clickable {
  position: absolute;
  height: calc(100% + 20px);
  width: calc(100% + 20px);
  cursor: pointer;
}

@media (max-width: 800px) {
  .@{element}-edit {
    flex-grow: 1;
    width: auto;
  }
}
@media (max-width: 500px) {
  @{element} {
    font-size: 14px;
  }
  .@{element}-edit {
    font-size: 18px !important;
  }
  .@{element}-item-main {
    padding-left: 0;
  }
}