
@import "variables.less";
@element: eon-number;

eon-number[theme="@{theme}"],
div[data-theme="@{theme}"] eon-number,
body[data-theme="@{theme}"] eon-number {
  &[readonly="true"] .@{element}-control:hover {
    color: @fg1;
  }

  .@{element}-label {
    color: @eonFrontColor;
    font-size: @fg2-label-size;
  }

  .@{element}-inputBar:before, .@{element}-inputBar:after {
    background: @eonFrontColor;
  }

  &.@{element}-error .@{element}-label {
    color: @error1;
  }

  &.@{element}-error .@{element}-group {
      border-bottom: 1px solid @error1;
  }

  &.@{element}-error .@{element}-inputBar:before, &.@{element}-error .@{element}-inputBar:after {
    background: @error1;
  }

  &.@{element}-error .@{element}-description {
    color: @error1;
  }
  
  .@{element}-description {
    font-size: 13px;
  }

  &:not([class~="hide-description"]) .@{element}-description {
    min-height: 20px;
  }


  // New
  .@{element}-control {
    cursor: pointer;
    transition: color @animation;
  }

}