@import "variables.less";
@element: eon-swiper;

eon-swiper[theme="@{theme}"],
div[data-theme="@{theme}"] eon-swiper,
body[data-theme="@{theme}"] eon-swiper {

    @{element}.eon-fg1 {
        color: #2d2d2d;
    }
    .@{element}-navBtn {
        width: 10%;
        font-size: 30px;
        color: @fg0;
        opacity: 1 !important;
    }
    .@{element}-navBtn.eon-fg1-hoverable:hover {
        color: @fg0;
    }
    .@{element}-navBtn.eon-bg1-modal2-hoverable:hover{
        background-color: transparent;
    }
    .@{element}-navBtn.eon-bg1-modal2-hoverable:active{
        background-color: @bg1-modal2-hover;
    }

}