@import "variables.less";
@element: eon-drawer;

eon-drawer[theme="@{theme}"],
div[data-theme="@{theme}"] eon-drawer,
body[data-theme="@{theme}"] eon-drawer {

  & {
    background-color: #ffffff;
  }

  &.left-menu > .section-btn {
    color: @fg3-tobe;
  }
  &.left-menu > .section-btn:hover {
    color: @fg3-tobe-hover;
  }
  &.left-menu > .section-btn > span {
    color: @fg1;
  }
  &.left-menu > .section-btn.section-highlight, &.left-menu > .section-btn.section-highlight > span {
    color: @fg3-tobe-hover;
  }
  &.left-menu > .section-btn.section-highlight > span {
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: @bg1;;
  }

}