@theme: "att-claro";
// ----- COLORS ---------
@eonFrontColor: #8c27cf;
@fg1: #4e4e4e; // #051b16;
@fg1-hover: @eonFrontColor;
@fg1-active: @eonFrontColor;
@bg0: #eee7f3;
@bg0-tobeio: #8c27cf;
@margin: 5px;
@padding: 5px;
@h-color: #7d7d7d;
@splitter-color:#d8d8d8;

// ---- Hierarchy style -----
@fg-h1: #666666;
@fg-h1-hover: @eonFrontColor;
@fg-h1-size: 22px;
@fg-h1-breadcrumb: #666666;
@fg-h1-breadcrumb-size: 22px;
@h1-icon-size: 20px !important;

// ---- Tab menu button  -----
@h1-tab-border: #efefef;

// ---- Placeholder style -----
@empty-fg: #bfbfbf;
@empty-fg2: #9a9a9a;
@empty-bg: #9a9a9a;


@fg-h2: #808080;
@fg-h2-size: 19px;

@fg-h3: @eonFrontColor;
@fg-h3-size: 16px;

@fg-h4: #666666;
@fg-h4-size: 18px;
@h4-border: #8c27cf;

@fg1-tobeio: #ffffff;
@bg1-tobeio: #eee7f3;
@fg2: #666666;
@fg2-tobeio: #eee7f3;
@fg2-label-size: 16px;

@fg3-tobe: #808080;
@fg3-tobe-hover: @eonFrontColor; 

/* Set 1 - Containers (appmenu, searchbar, date, appmenu, grid, headerpanel,
           loadingmask, menu, swiper, tab, tabs, togglemenu, video) */

@fg0: @eonFrontColor; // #9a9a9a;
@fg0-hover: @eonFrontColor; // Not exist
@bg1: @eonFrontColor;
@bg1-main: #a61ad0;
@bg1-secn: #6c37ce;
@bg1-hover: #d7b2f1;
@bg1-hover2: #383838;
@bg1-hover3: #333333;
@bg1-border2: #383838;
@bg1-border3: #454545;
@bg1-border: @eonFrontColor;
@bg1-border-hover: #d7b2f1;
// @bg1-border-hover: #b2f1ba;
@sect1: #ffffff;
@sect1-hover: #454545;
@sect2: #272727;
@sect2-border-hover: #565656;
@sect3: #efefef;
@sect3-hover: #454545;
@sect4: black;
@boxshadow1: 0 2px 16px 0 @boxshadow1-color;
@boxshadow1-color: #242424;
@boxshadow2: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
0 1px 5px 0 rgba(0, 0, 0, 0.12),
0 3px 1px -2px rgba(0, 0, 0, 0.12);
@boxshadow3: inset 0px 5px 11px -6px @boxshadow1-color;
@boxshadow4: 0px 2px 9px 0px @bg1;
@boxshadow5: inset 0px -33px 37px -39px @bg1;
@boxshadow6: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12); // TODO
@bg1-modal: rgba(51, 51, 51, 0.5);
@bg1-modal2-hover: rgba(0, 0, 0, 0.2);
// Grid specific
@fg7: #f3f3f3;
@fg8: #767676;
@subtle1: #ebebeb;

/* Set 2 - Elements (button, check, combo, number, text, 
           radio, contextmenu, slider, treenode) */
@bg2: #ffffff;

@bg2-filled: @eonFrontColor; // TODO
@bg2-filled-hover: #f36547; // TODO
@boxshadow-filled-hover: 0 3px 9px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 2px 0 rgba(0,0,0,.12);// TODO
@fg2-filled-disabled: #a3a3a3;// TODO
@bg2-filled-disabled: #dcdcdc;// TODO

@bg2-hover: #d7b2f1; //
// @bg2-hover: #b2f1ba; //
@bg2-border: @eonFrontColor;
@bg2-active: @eonFrontColor; //
@bg2-boxshadow: 0 2px 16px 0 @bg2-boxshadow-color;
@bg2-boxshadow-color: #242424;
@bg3: #2d2d2d;
@bg3-border: #e6e6e6;
@bg3-hover: #383838;
@bg4: rgba(99, 99, 99, 0.2);
@bg5: rgba(99, 99, 99, 0.4);
@bg5-disabled: #747474;

@fg2-filled: #051b16; // TODO

@fg2-hover: @eonFrontColor; //
@fg2-hover-delete: #cf2727; //
@fg2-disabled: #ababab;
@fg2-placeholder-disabled: #565656;
@placeholder-color: #c1c0c0;
@fg3: #d7b2f1; //

@fg3-boxshadow: 0 3px 9px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 2px 0 rgba(0,0,0,.12); // TODO

@error1: #c33232;
@error2: #e63939;

// Set 3 - Elements (toggle, video, date)
@bg6: #cecece;
@bg6-hover: #dad9d9; // TODO
@bg6-disabled2: #797979;

@bg6-disabled3: #a3a3a3; // TODO

@bg6-boxshadow: 0px 2px 3px 0px @bg6-boxshadow-color; // TODO
@bg6-boxshadow-color: #a6a6a6; // TODO
@bg7: #ffffff; //TODO
@bg7-light: #d7b2f1; // TODO

@fg6-active: #ffffff; // TODO
@fg6-boxshadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2), 0px 0px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12); // TODO

// Set 4 - Elements (gutter, loader, scroll, separator)
@bg8: #cecece;
@bg8-hover: #888888;
@fg4: #cecece;

@fg4-hoverable: #ffffff; // TODO
@bg9: #e8e7e7; 

@fg4-hoverable: #ffffff; // TODO

// Set 5 - Ripple effect (button, bubble, check, toggle, radio, check, slider)
@ripple-outer-bg1: rgba(166, 26, 208, 0.3); //
@ripple-outer-bg2: rgba(222, 222, 222, 0.6); //
@ripple-inner-bg1: #dffffd; //
// Specific flat button hover & bubble button hover
// @ripple-inner-bg1-hover: #d7b2f1; //
@ripple-inner-bg1-hover: #d7b2f1; //
// Specific filled button bubble
@ripple-filled-bg1: #d7b2f1; //
@ripple-filled-bg1-hover: @eonFrontColor; //
@boxshadow7: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
@boxshadow7-hover: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);

@animation: .2s cubic-bezier(.4,0,.2,0);

// Opacity
@opacity-white40: rgba(255, 255, 255, 0.40);
@opacity-white20: rgba(255, 255, 255, 0.20);
@opacity-white35: rgba(255, 255, 255, 0.35);
@opacity-white60: rgba(255, 255, 255, 0.60);
@opacity-black18: rgba(0, 0, 0, 0.18);
@opacity-black10: rgba(0, 0, 0, 0.10);
@opacity-black90: rgba(0, 0, 0, 0.90);

// Last back colors
@row-color-even: rgba(44, 62, 89, 0.55);
@row-color-odd: rgba(37, 57, 81, 0.50);

@app-max-width: 1400px;

// WARNING!!!! TODO FIX MISSING VARIABLES IN SCROLL
@scrollBackgroundColor: rgba(0, 0, 0 ,0);
@scrollBarColor: rgba(0, 0, 0 ,0);
@boxSadowAppColor:  rgba(0, 0, 0 ,0);
@hoverFontColor: rgba(0, 0, 0 ,0);