@import "../../../eon/theme/att-claro/variables.less";
@element: app-bubble;

@{element} {
  & {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    min-height: 50px;
    width: 50px;
    min-width: 50px;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
    /* Configure position for each button individually */
    z-index: 1;
    cursor: pointer;
    transition: transform .3s ease, box-shadow .2s ease;
  }

  &:hover {
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
  }

  &.bubble-hide {
    transform: translate3d(0, 60px, 0);
  }

  i {
    color: @fg1-tobeio;
    font-size: 30px;
  }
}