@element: report-entry;

@{element} {
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    min-width: 115px;
    min-height: 30px;
  }

  // MASK
  .mask-card {
    margin: 0;
  }

}