@element: avatar-form;

@{element} {
  & {
    width: 100%;
    height: 100%;
  }

  .form-marginright {
    margin-bottom: 15px;
  }
}
.@{element} {
  padding-top: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.@{element}-group {
  display: flex;
  align-items: flex-start;
}
.@{element}-fileUpload {
  position: relative;
  height: 36px;
  width: 175px;
}
.@{element}-input {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  overflow: hidden;
  z-index: 10;
  cursor: pointer;
}

.@{element}-avatarText {
  width: 250px;
}
.@{element}-avatarText .eon-text-main {
  padding: 8px 10px !important;
}

@media (max-width: 700px) {
  .@{element}-group {
    flex-direction: column;
  }
  .@{element}-avatarText {
    width: 100%;
  }
}
