@element: workday-range;

@{element} {
  & {
    padding-left: 10px;
    box-sizing: border-box;
    opacity: 1;
    transition: all .4s;
    padding: 10px;
    background: #ebebebab;
    margin-bottom: 10px;
  }

  &.@{element}-hidden {
    opacity: 0;
  }

  eon-date {
    max-width: 200px;
  }

  .eon-date-description {
    height: 0 !important;
  }
  .eon-combo-description {
    height: 0 !important;
  }

  .@{element}-field {
    // flex-grow: 1;
    flex-basis: auto;
    flex-grow: 1;
  }

  .form-rows {
    align-items: flex-end;
  }

  .@{element}-editable {
    display: flex;
    flex-grow: 1;
  }

  .@{element}-from, .@{element}-to {
    display: flex;
  }

  .@{element}-cols {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  eon-variable {
    width: 100%;
  }

  .delete-action {
    flex-grow: 0;
  }
  .delete-action .delete-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 24px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #38c6bb;
  }
  .delete-action .delete-icon {
    margin-bottom: 8px;
    transition: opacity .2s cubic-bezier(0.4, 0, 0.2, 0);
  }
  .delete-action .delete-icon:hover {
    opacity: 0.7;
  }

  @media (max-width: 925px) {
    .@{element}-editable {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
    }
  }
  @media (max-width: 700px) {
    & {
      padding-left: 0px;
      margin-top: 30px;
      padding: 30px;
    }
    .form-rows {
      align-items: center;
    }
    .@{element}-editable {
      width: 100%;
    }
    .@{element}-from, .@{element}-to {
      flex-direction: column;
    }
    .@{element}-from, .@{element}-cols:first-child {
      margin-bottom: 15px;
    }
    .@{element}-field:first-child {
      margin-right: 10px;
    }
    .delete-action {
      display: flex;
      height: 36px;
      justify-content: center;
      background-color: #38c6bb;
      margin-top: 30px;
      width: 100%;
    } 
    .delete-action .delete-icon {
      color: white !important;
      margin-bottom: 0;
    }
    .delete-action .delete-icon::before {
      margin-bottom: 0;
    }
  }
}