@element: registry-edit;

@{element} {
  & {
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .@{element}-ranges {
    overflow: hidden;
  }
  
  .form-swiper eon-swiper-slide {
    overflow: hidden;
  }
  
  .eon-date-description {
    display: none;
  }

  .form-time-combo .eon-combo-description {
    display: none;
  }

  .form-grow {
    flex-grow: 0;
    flex-basis: auto;
    margin-bottom: 15px;
  }

  .form-group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .registry-autofill {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
  }

  eon-toggle {
    padding: 5px;
  }

  @media (max-width: 700px) {
    .breaks-content .form-rows > * {
      flex-basis: auto;
      margin-bottom: 0 !important;
    }
    .form-rows {
      align-items: initial;
    }
    eon-toggle.registry-view-field {
      margin-left: 0 !important;
    }
  }

  @media (max-width: 400px) {
    .break-ranges {
      padding: 0;
    }
  }
}
